%content {
	background-color: #f2f2f2;
	min-height: 800px;
	text-align: center;
	padding: 30px;
	justify-content: center;
	align-items: center;
}
%welcome-text {
	font-weight: 600;
	font-size: 3em;
	margin-bottom: 100px;
}
%beehive-pic {
	width: 400px;
	margin-right: 100px;
}

.content {
	@extend %content;
}
.welcomeText {
	@extend %welcome-text;
}
.beehivePic {
	@extend %beehive-pic;
}
.custom-file-label {
	width: 50%;
	flex-wrap: nowrap;
}
.hiveButton {
	width: 200px;
	height: 45px;
	border-radius: 8px;
	font-size: 1.5em;
	font-weight: 300;
}
.chats {
	margin-top: 100px;
}
